:root {
    --faint-white: #f6f6f6
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;

    min-height: 100vh;

    background: #f12711;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

nav {
    width: 100%;
    display: flex;
    background-color: white;

    padding: 1rem;

    justify-content: space-between;

    position: fixed;
}

nav .logo {
    max-height: 3rem;
    border-radius: 5px;

    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

nav button {
    color: var(--faint-white);

    border:none;
    background-color: #f36f15;

    padding:1rem;
    border-radius: 5px;

    cursor: pointer;
}

main {
    padding: 1rem;
}

.page {
    width: 100%;
    background-color: var(--faint-white);
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 1rem;
}

.front {
    margin-top: 5rem;
}




.sheet-container {
    margin: 1rem;
}

table {
    border-spacing: 0;
    border: solid 3px black;
    border-collapse: collapse;

    table-layout: fixed;
    width: 100%;
}

td {
    border: 1px solid lightgray;
    /* padding-left: 5px; */
}

td:nth-child(1) {
    padding: none;
}

td:focus-within {
    outline: solid 3px red;
}


.cell-input {
    width: 100%;
    height: 1.5em;
    resize: none;
    border: none;
    outline: none;
    text-transform:uppercase;
    background-color: transparent;
}
